<div class="container-fluid bg-dark">
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm-3">
                <div class="text-light mt-3 font-weight-bold">Social Links</div>
            </div>
            <div class="col-sm-9 d-flex ">
            
                <i class="fab fa-facebook-square icon text-light fa-2x"></i>
                <i class="fab fa-instagram text-light icon fa-2x "></i>
                <i class="fab fa-youtube text-light icon fa-2x"></i>
                <i class="fab fa-twitter-square text-light icon fa-2x"></i>
            </div>
        </div>

        <div class="text-dark bordered">cghvjbk</div>
        <div class="row">
            <div class="col-sm-3">
                <div class="text-light mt-3 font-weight-bold">Discover Scholar</div>
            </div>
            <div class="col-sm-9 d-flex">
                <span class="discover" (click)="directAbout()">About Scholar</span>
                <span class="discover">Careers</span>
                <span class="discover">Offers</span>
                <span class="discover"  (click)="directContact()">Contact Us
                    </span>
                </div>
            </div>
    

        <div class="text-dark bordered">cghvjbk</div>
        <div class="row last">
            <div class="col-sm-3">
                <div class="text-light mt-3 font-weight-bold">company icon</div>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-4 d-flex">
                    <div class="discover1">Notices</div>
                    <div class="discover1">Terms & Conditions</div>
                    <div class="discover2">Privacy Policy</div>
                   
            </div>
        </div>
    </div>
</div>